.home {
  flex-grow: 1;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .title {
  width: 100%;
  font-size: 18px;
  text-align: center;
  font-family: "Righteous", cursive;
}

.home .title p {
  line-height: 50px;
}

.home .title button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  margin-top: 30px;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 999px;
  background-color: #3f71f4;
  font-family: "Raleway", sans-serif;
}

.home .skills {
  width: 100%;
  margin-top: 50px;
  /* display: flex;
  justify-content: center; */
  flex-grow: 1;
}

.home .person img {
  width: 80%;
}

.skills h1 {
  margin-bottom: 20px;
  font-family: "Raleway", sans-serif;
}

.content {
  display: grid;
  font-size: 24px;
  grid-template-columns: 1fr 1fr;
  font-family: "Raleway", sans-serif;
}

.content div {
  margin-bottom: 25px;
}

.content strong {
  line-height: 25px;
  padding-bottom: 15px;
  display: block;
}

.content li {
  margin: 0;
  margin-bottom: 10px;
}

@media (min-width: 800px) {
  .content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .home {
    flex-direction: row;
    justify-content: space-between;
  }
  .home .title p {
    line-height: 4rem;
  }

  .home .title {
    width: 50%;
    margin-top: 50px;
    text-align: left;
    font-size: 25px;
  }

  .home .skills {
    width: 50%;
    margin-top: 70px;
    text-align: left;
    font-size: 25px;
  }

  .home .person img {
    width: 100%;
  }
}
